/* TITLE FONT */
@import url('https://fonts.googleapis.com/css?family=Sarpanch&display=swap');

/* COLOR PALETTE VARIABLES */
:root {
    --maroon: #3D0806;
    --firebrick: #C01B13;
    --beige: #E9DACA;
    --saddlebrown: #851F19;
    --greengray: #919164;
}

a, a:hover {
    color: white;
}

.scrapeLink {
    background-color: var(--maroon);
}

#header {
    background-image: url('images/banner.jpg');
    background-size: cover;
}

#title, #title-text {
    color: white;
}

#title {
    font-family: 'Sarpanch', sans-serif;
    font-weight: 900;
}

.btn-primary, .bg-primary {
    background-color: var(--firebrick)!important;
    border: 1px solid var(--firebrick)!important;
}

.btn-secondary {
    background-color: var(--greengray);
    border: 1px solid var(--greengray);
}

.card-header {
    background-color: var(--saddlebrown);
    color: white;
}

.scrape-image {
    background-size: cover;
}